{% load static %}
<link rel="stylesheet" href={%static "CSS/our_value.css"%}>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Value</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

     <style type='text/css'>
  iframe.goog-te-banner-frame{ display: none !important;}
  </style>

  <style type='text/css'>
  body {position: static !important; top:0px !important;}
  </style>

  <style type='text/css'>
  .goog-logo-link {display:none !important;}
  .goog-te-gadget{color: transparent !important;}
  </style>
</head>
<body>
<nav class="navbar background">
<ul class="nav-list">


<li><a href="#home">Home</a></li>
<li><a href="http://localhost:8081/Hello_World/ShopNow">Shop Now</a></li>
<li><a href="#services">About</a></li>
<li><a href="DigitalPlatform.html">Digital Platform</a></li>
</ul>
<div class="rightNav">
<ul class="nav-list2">
<li><a href="login.html">Login</a></li>
<li><a href="#Register">Register
</a></li>
<li><a href="Add.html">Add Products</a></li>
</ul>
</div>
    <script type="text/javascript">
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
            </script>

            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</nav>



    <div class="container">
        <div class="card">
            <div class="circle">
                <h3>01</h3>
            </div>
            <div class="content">
                <p>Bill on agri marketFarmer's Produce Trade and Commerce(Promotion and Facilitation) Bill, 2020</p>
                <li>To create an ecosystem where farmers and traders enjoy the freedom to sell and purchase farm produce outide registered 'mandis' under states' APMCs.</li>
                <li>To promote barrier-free inter-state and intra-state trade of farmers' produce</li>
                <li>To reduce marketing/transportation costs and help farmers in getting better prices</li>
                <li>To provide a facilitative framework for electronic trading</li>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <h3>02</h3>
            </div>
            <div class="content">
                <p>Bill on contract farmingThe Farmer (Empowerment and Protection) Agreement of Price Assurance and Farm Services Bill, 2020</p>
                <li> Farmers can enter into a contract with agribusiness firms, processors, wholesalers, exporters or large retailers for sale of future farming produce at a pre-agreed price</li>
                <li>Marginal and small farmers, with land less than five hectares, to gain via aggregation and contract (Marginal and small farmers account for 86% of total farmers in India)</li>
                <li>To transfer the risk of market unpredictability from farmers to sponsors</li>
                <li>To enable farmers to access modern tech and get better inputs</li>
                <li>To reduce cost of marketing and boost farmer's income</li>
                <li>Farmers can engage in direct marketing by eliminating intermediaries for full price realisation</li>
                <li>Effective dispute resolution mechanism with redressal timelines</li>
            </div>
        </div>
        <div class="card">
            <div class="circle">
                <h3>03</h3>
            </div>
            <div class="content">
                <p>Bill relating to commoditiesThe Essential Commodities (Amendment) Bill, 2020</p>
                <li>To remove commodities like cereals, pulses, oilseeds, onion and potatoes from the list of essential commodities. It will do away with the imposition of stockholding limits on such items except under "extraordinary circumstances" like war</li>
                <li>This provision will attract private sector/FDI into farm sector as it will remove fears of private investors of excessive regulatory interference in business operations.</li>
                <li>To bring investment for farm infrastructure like cold storages, and modernising food supply chain.</li>
                <li>To help both farmers and consumers by bringing in price stability.</li>
                <li>To create competitive market environment and cut wastage of farm produce.</li>
            </div>
        </div>
    </div>




    <footer class="bg-gray-900 text-white p-5 mt-5">
        <div class="grid grid-cols-12 justify-items-center items-center">
            <div class="col-start-2 col-end-5 row-start-1">
                <br><br><br>
                <p>Our social media handles.</p>
                <div class="flex justify-center">
                    <a class="mr-4" href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="mr-4" href="">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="mr-4" href="">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a class="mr-4" href="">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="grid grid-cols-2 col-start-10 col-end-12 text-center gap-x-3">
                <br>
                <a class="col-start-1 text-center border-white border-b-2 hover:text-gray-500 hover:border-gray-500"
                    href="">Contact Us </a>
                <a class="col-start-2 text-center border-white border-b-2 hover:text-gray-500 hover:border-gray-500"
                    href="">About Us</a>
            </div>
            <div class="grid col-start-6 col-end-8 row-start-1">
                <br><br><br>
                @MERA KISAN, 2020
            </div>
            <br><br><br><br><br><br>
        </div>

    </footer>

</body>

</html>